.container {
  border: 2px solid;
  width: 50%;
  margin: 0 auto;
}

header,
footer,
main {
  padding: 20px;
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

p.post {
  font-size: 12px;
}

footer {
  margin-bottom: 5px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
}
